useDynLib("BSL", .registration=TRUE)

importFrom("stats", "rnorm", "cov", "qnorm", "runif", "sd")
importFrom("MASS", "mvrnorm")
importFrom("glasso", "glasso")
importFrom("utils", "flush.console", "head", "tail")

import("cvTools")
import("ggplot2")
import("grid")
import("gridExtra")
import("foreach")
importFrom("coda", "effectiveSize")
#importFrom("elliplot", "ninenum")

S3method(print,bsl,print.bsl)
S3method(summary,bsl,summary.bsl)
S3method(plot,bsl,plot.bsl)
S3method(print,penbsl,print.penbsl)
S3method(plot,penbsl,plot.penbsl)

export("bsl",
"selectPenalty",
"combinePlotsBSL",
"mgnk_sim",
"mgnk_sum",
"ma2_sim",
"ma2_sum",
"ma2_prior", # "simulate_cell",
"cell_sim",
"cell_sum",
"cell_prior")


